body {
    background-color: blanchedalmond;
    font-family: 'PT Sans Narrow', sans-serif;
}

h1, h2, h3 {
    font-family: 'Source Code Pro', monospace;;
}

h1 {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    text-decoration: none;
    list-style-type: none;
}

#container {
    display: flex;
    align-items: flex-start;
}
